body {
    position: relative;
}

div.logo {
    /* margin-right: 300px; */
    text-align: center;
}

img.logo {
    height: 150px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

div.button {
    text-align: center;
}