{% extends 'base.html' %}


{% block Content %}
    <style>

        .image
        {
            position: relative;
            max-width: 100%;
        }

        .text
        {
            position: absolute;
            background-color: lightslategray;
            text-align: center;
            top: 0px;
            font-size: xx-large;
            color: white;
            width: 100%;
        }

        .container
        {
            position: absolute;
            padding: 0;
            max-width: 100%;
        }

        .footer
        {
            background-color: #343a40;
            height: 50px;
            padding-top: 0;
        }


    </style>

    <div class="container">
        <img src="/image/book_cover.jpg" class="image">
        <h1 class="text">Welcome {{request.user.username}}!</h1>
        <div class="footer">
            <a class="logout" href="{% url 'login' %}" style="color: #FFF; text-align: end">
                <h3 style="font-size: large">Logout</h3>
            </a>
        </div>
    </div>


{% endblock %}


