<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
    <title>Grand Coug Library</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            html{ overflow-y: scroll;}
        </style>

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <!-- Main Website Title -->
            {% if request.user.is_staff %}
                <a class="navbar-brand" href="/administration">
                    <img src="/image/logo.png" width="70" height="70">
                    <h1 style="float: right">Grand Coug Library</h1>
                </a>
            {% else %}
                 <a class="navbar-brand" href="/user">
                    <img src="/image/logo.png" width="70" height="70">
                    <h2 style="float: right">Grand Coug Library</h2>
                </a>
            {% endif %}

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                    <!-- Admin links option -->
                    {% if request.user.is_staff %}

                        <!-- Home page -->
                        <li class="nav-item active">
                            <a class="nav-link" href="/administration">
                                <h2 style="font-size: large">Home</h2>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <!-- Inventory -->
                        <li class="nav-item active">
                            <a class="nav-link" href="/Items/">
                                <h2 style="font-size: large">Catalog</h2>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                         <!-- create item Link -->
                        <li class="nav-item active">
                            <a class="nav-link" href="/create">
                                <h2 style="font-size: large">Add Item</h2>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <!-- Add User -->
                        <li class="nav-item active">
                            <a class="nav-link" href="/create_user">
                                <h2 style="font-size: large">Add User</h2>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <!-- User List -->
                        <li class="nav-item active">
                            <a class="nav-link" href="/Users">
                                <h2 style="font-size: large">User List</h2>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="/receipt">
                                <h2 style="font-size: large">Checkout History</h2>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                    <!-- Basic User Links -->
                    {% else %}
                        <!-- Home Link -->
                        <li class="nav-item active">
                            <a class="nav-link" href="/user">
                                <h2 style="font-size: large">Home</h2>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <!-- Inventory -->
                        <li class="nav-item active">
                            <a class="nav-link" href="/Items/">
                                <h2 style="font-size: large">Catalog</h2>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <!-- Account Page -->
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <h2 style="font-size: large">Account</h2>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <!-- Cart Page -->
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <h2 style="font-size: large">Cart</h2>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    {% endif %}


                </ul>
            </div>

        </nav>

        <!-- Section for editing specific page -->
        <div class = "contents">
            {% block Content %}

            {% endblock %}
        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>