{% extends 'base.html' %}



{% block Content %}
        <style>

            table
            {
                max-width: 100%;
                margin: 0;
                padding-bottom: 0;
            }

            footer
            {
                background-color: #343a40;
                max-height: 100%;
            }

            input
            {
                padding:0;
                margin: 0;
                width:400px;
            }

            .container
            {
                background-color: lightgray;
                max-width: 100%;
                margin: 0;
                padding:0;

            }

            .title
            {
                text-align: center;
                font-size: 20pt;
                border-bottom: 1px solid black;
                padding-bottom: 5px;
            }

        </style>

        <div class="container">
            <h1 class="title"> Enter User Information</h1>

            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{form}}
                </table>

                <input type="submit" value="Submit" style="margin-left: 50%; width: 10%">
            </form>

            <div class="footer">
                <a class="logout" href="{% url 'login' %}" style="color: #FFF; text-align: end; margin: 0">
                    <h3 style="font-size: large; margin: 0">Logout</h3>
                </a>
            </div>

        </div>

{% endblock %}



