{% extends 'base.html' %}
{% block Content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

            .actions
            {
                background-color: #343a40;
            }

            #myTable {
              width: 100%; /* Full-width */
              border: 1px solid #ddd; /* Add a grey border */
              font-size: 18px; /* Increase font-size */
              background-color: #790604;

            }

            #myTable th, #myTable td
            {
              text-align: left; /* Left-align text */
              padding: 12px; /* Add padding */
              border-left: 1px solid #ddd;
              color: white;
            }

            #myTable tr {
              /* Add a bottom border to all table rows */
              border-bottom: 2px solid #ddd;
            }

            #myTable tr.header, #myTable tr:hover {
              /* Add a grey background color to the table header and on hover */
              background-color: darkgrey;
            }

        </style>

    <div class="actions">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names...">
    </div>

    <table id="myTable">
        <tr class="header">
            <th style="width: 10%;">First Name</th>
            <th style="width: 30%;">Last Name</th>
            <th style="width: 20%;">Username</th>
            <th style="width: 20%;">Email</th>
            <th style="width: 20%;">User Type</th>
            <th style="width: 20%;">Detail view</th>

        </tr>
        {% for instance in object_List %}
            <tr>
                <td>{{ instance.first_name }}</td>
                <td>{{ instance.last_name }}</td>
                <td>{{ instance.username}}</td>
                <td>{{ instance.email }}</td>
                <td>{% if instance.is_staff %}Librarian{% else %}Unprivileged User{% endif %}</td>
                <td><a class="title" href='{{ instance.id }}' style="color: white">Details</a></td>

            </tr>
        {% endfor %}
    </table>

    <a class="logout" href="{% url 'login' %}" style="color: #000; width: 10%; padding: 0; margin: 0">Logout</a>


    <script>
        function myFunction()
        {
            var input, filter, table, tr, td, i, txtValue;

            // This will get access to the strings within column
            input = document.getElementById("myInput");
            filter= input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr"); // string name

            for(i = 0; i < tr.length; i++)
            {
                td = tr[i].getElementsByTagName("td")[1];
                if(td)
                {
                    txtValue = td.textContent || td.innerText;
                    if( txtValue.toUpperCase().indexOf(filter) > -1)
                    {
                        tr[i].style.display = "";
                    }
                    else
                    {
                        tr[i].style.display = "none";
                    }
                }
            }

        }
    </script>

{% endblock %}