{%extends 'base.html' %}

{% block Content %}
<style>
    .header
    {
        text-align: center;
        background-color: darkgrey;
    }

    .user-data
    {
        background-color: #790604 ;
        height: 500px;
    }

    .footer
    {
        background-color: #343a40;
    }

    .text
    {
        text-align: center;
        color: white;
    }

    .textbox
    {
        height:120px;
        width:400px;
        border:2px solid black;
        font:16px/26px Georgia, Garamond, Serif;
        overflow:auto;
        margin: 0 auto;
    }

    #button1, #button2
    {
        display: inline-block;
    }


    #title
    {
        color: #fff;
        font-size: 50px;
        font-weight: bold;
        font-family: Helvetica;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    }


</style>

<div class="header">
    <h1 id="title">User information</h1>

        <input type="button" id="button1" value="Go back" onclick="history.back()">
        {%  if request.user.is_staff %}
            <input type="button" id="button3" value="Delete User" onclick="location.href='delete'">
        {% endif  %}
</div>

<div class="user-data">
    <h4 class="text"><b>First Name </b> {{ first_name }}</h4>
    <h4 class="text"><b>Last Name:</b> {{ last_name }}</h4>
    <h4 class="text"><b>Username:</b> {{ username }}</h4>
    <h4 class="text"><b>Email:</b> {{ email }}</h4>
    <h4 class="text"><b>User Type:</b> {% if is_librarian %}Librarian{% else %}Unprivileged User{% endif %}</h4>
</div>

<div class="footer">
    <a class="logout" href="{% url 'login' %}" style="color: #ffffff;">Logout</a>
</div>

{% endblock %}


