{% extends 'base.html' %}

{% block Content %}
<style>
    .header
    {
        text-align: center;
        background-color: darkgrey;
    }

    .book-data
    {
        background-color: #790604 ;
        height: 500px;
    }

    .footer
    {
        background-color: #343a40;
    }

    .text
    {
        text-align: center;
        color: white;
    }

    .textbox
    {
        height:120px;
        width:400px;
        border:2px solid black;
        font:16px/26px Georgia, Garamond, Serif;
        overflow:auto;
        margin: 0 auto;
    }

    #button1, #button2
    {
        display: inline-block;
    }


    #title
    {
        color: #fff;
        font-size: 50px;
        font-weight: bold;
        font-family: Helvetica;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    }


</style>

<div class="header">
    <h1 id="title">Book information</h1>

        <input type="button" id="button1" value="Go back" onclick="history.back()">
    {%  if request.user.is_staff %}
        <input type="button" id="button2" value="Add to Cart" onclick="location.href='checkout'">

            <input type="button" id="button3" value="Delete Item" onclick="location.href='delete'">
            <input type="button" value="Modify Item" onclick="history.back()">
        {% endif  %}
</div>

<div class="book-data">
    <h4 class="text"><b>Title: </b> {{ title }}</h4>
    <h4 class="text"><b>AUTHOR:</b> {{ Author }}</h4>
    <h4 class="text"><b>Year Published:</b> {{ Publication_Year }}</h4>
    <h4 class="text"><b>Genre:</b> {{ Genre }}</h4>
    <h4 class="text"><b>ISBN:</b> {{ ISBN }}</h4>
    <h4 class="text"> <b>Summary:</b> <div class="textbox">{{ description }}</div></h4>
</div>

<div class="footer">
    <a class="logout" href="{% url 'login' %}" style="color: #ffffff;">Logout</a>
</div>

{% endblock %}


