{% extends 'base.html' %}

{% block Content %}
<style>
    table{
        background-color: lightgray;
        width: 60%;

    }
    td, th{
        text-align: center;
        padding: 10px;
    }

</style>
<div>
<form method="POST">
    <table>
        <tr>
            <th>Checkout Information</th>
        </tr>
        <!--
        <tr>
            <td>Admin name</td>
        </tr>
        -->
        <tr>
            <td>Title: {{ title }}</td>
        </tr>
        <tr>

            <td>Author: {{ Author }}</td>
        </tr>
        {% csrf_token %}
        <tr>
            <td>Username: <input type="text" name="username" autofocus required id="username"></td>
        </tr>
        <tr>
            <td>Due Date: <input type="date" name="due_date" required id="due_date"></td>
        </tr>
        <tr>
            <td>
                <button type="submit" value="Conform" method="POST" >Confirm</button>
                <button type="button" onclick="location.href='/administration'">Cancel</button>
            </td>
        </tr>
    </table>
</form>
</div>

{% endblock %}