{% extends 'base.html' %}

{% block Content %}
    <style>

        #page-container
        {
            position: relative;
            min-height: 100vh;
        }


        #button
        {
            display: inline-block;
        }

        #buttons
        {
            text-align: center;
        }

        .footer
        {
            background-color: #343a40;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2.5rem;
        }

       #myTable {
          width: 100%; /* Full-width */
          border: 1px solid #ddd; /* Add a grey border */
          font-size: 18px; /* Increase font-size */
          background-color: #790604;

        }

        #myTable th, #myTable td
        {
          text-align: left; /* Left-align text */
          padding: 12px; /* Add padding */
          border-left: 1px solid #ddd;
          color: white;
        }

        #myTable tr {
          /* Add a bottom border to all table rows */
          border-bottom: 2px solid #ddd;
        }

        #myTable tr.header {
          /* Add a grey background color to the table header and on hover */
          background-color: darkgrey;
        }


    </style>
<body id="page-container">
    <form action='.' method = 'POST'>
        {% csrf_token %}
        <h1> Are you sure you want to delete: </h1>
        <table id="myTable">
            <tr class="header">
                <th style="width: 30%;">Title</th>
                <th style="width: 20%;">Author</th>
                <th style="width: 20%;">Genre</th>
            </tr>

            <tr>
                <td>{{object.title}}</td>
                <td>{{ object.Author }}</td>
                <td>{{ object.Genre}}</td>
            </tr>
        </table>
        <button type= 'submit' id="button" value= 'Yes, Delete'>Yes, Delete</button>
    </form>
</body>
    <div id="buttons">
        <button type="button" id="button2" value="Cancel" onclick="location.href='../'">Cancel</button>
    </div>

    <footer class="footer">
        <<a class="logout" href="{% url 'login' %}" style="color: #ffffff;">Logout</a>
    </footer>

{% endblock %}

