{% extends 'base.html' %}
{% block Content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

            .actions
            {
                background-color: #343a40;
            }

            #myTable {
              width: 100%; /* Full-width */
              border: 1px solid #ddd; /* Add a grey border */
              font-size: 18px; /* Increase font-size */
              background-color: #790604;

            }

            #myTable th, #myTable td
            {
              text-align: left; /* Left-align text */
              padding: 12px; /* Add padding */
              border-left: 1px solid #ddd;
              color: white;
            }

            #myTable tr {
              /* Add a bottom border to all table rows */
              border-bottom: 2px solid #ddd;
            }

            #myTable tr.header, #myTable tr:hover {
              /* Add a grey background color to the table header and on hover */
              background-color: darkgrey;
            }

        </style>

    <table id="myTable">
        <tr class="header">
            <th style="width: 30%;">Title</th>
            <th style="width: 20%;">User</th>
            <th style="width: 20%;">Due Date</th>
        </tr>
        {% for instance in object_List %}
            <tr>
                <td>{{instance.item.title}}</td>
                <td>{{instance.user}}</td>
                <td>{{instance.due_date}}</td>
            </tr>
        {% endfor %}
    </table>

    <a class="logout" href="{% url 'login' %}" style="color: #000; width: 10%; padding: 0; margin: 0">Logout</a>

{% endblock %}