<!DOCTYPE html>

<html lang="en-us" >

<head>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">

</head>


<body class="login" data-admin-utc-offset="0">
<!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 style="color:yellow; font-size: x-large;" id="site-name">Login administration</h1>
            </div>
        </div>
        <!-- END Header -->

        <!-- Content -->
        <div id="content" class="colM">
            <!-- Checks if password/username entered correctly -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </ul>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- requests password and username and displays login button -->
            <div id="content-main">
                <form method="post" id="login-form">
                    <input type="hidden" name="csrfmiddlewaretoken" value="vgvxoadlVFZ1kTKHBqm7Et9XDeK4YszqlZiIOiGyQZZVTM4wvOSRTNMil0ZWD9MW">
                        {% csrf_token %}

                        <div class="form-row">
                            <label class="required" for="id_username">Username:</label>
                            <input type="text" name="username" autofocus required id="id_username">
                         </div>

                        <div class="form-row">
                            <label class="required" for="id_password">Password:</label> <input type="password" name="password" required id="id_password">
                        </div>

                        <div class="submit-row">
                            <label>&nbsp;</label><input type="submit" value="Log in">
                        </div>
                </form>
            </div>
            <br class="clear">
        </div>
        <!-- END Content -->
    </div>
<!-- END Container -->

</body>

</html>
